@charset "utf-8";

/*共通部分*/
html {
  scroll-behavior: smooth;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fdfdfd;
}

body {
  margin: 0;
}

h2 {
  width: calc(100% - 65% * 0.94);
  height: 70px;
  margin: 0 0 auto auto;
  text-align: center;
  padding: 13px 0 0;
  font-size: 35px;
  border-bottom: solid 1px #f79719;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 4%;
}

.for-sp * {
  display: none;
}

.button1 {
  margin: 10px auto;
  padding: 7px 11px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.4rem;
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease;
}

.button1:hover {
  color: skyblue;
}

.button2 {
  margin: 5% auto;
  padding: 10px 20px 12px;
  background-color: #444444;
  border-radius: 5px;
  border: solid 1px #222222;
}

.button2 p {
  color: white;
  font-size: 1.4rem;
  border-bottom: solid 1px #f79719;
  transition: all 0.5s ease;
}

.button2 p:hover {
  color: skyblue;
  border-bottom: none;
  margin-bottom: 1px;
}

.button3 {
  display: inline-block;
  padding: 5px 18px 8px;
  color: white;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.button3 p {
  border-bottom: solid 1px #f79719;
  transition: all 0.5s ease;
}

.button3 p:hover {
  color: skyblue;
  border-bottom: none;
  margin-bottom: 1px;
}

/* ヘッダー*/
header {
  width: 65%;
  height: 70px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 94% 100%);
  /*フローティング*/
  position: fixed;
  z-index: 2;
  top: 0;
}

h1 {
  width: 200px;
  margin: 0;
}

.logo {
  margin-top: 3px;
  font-size: 13px;
  color: white;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}

.logo:hover {
  color: #f79719;
}

.logoitem {
  margin: 0 auto;
}

.logoimg {
  width: 150px;
}

#pc-nav {
  margin: 18px 10% 0 auto;
}

.main-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.main-nav li {
  transition: all 0.5s ease;
}

.main-nav li:hover {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.main-nav a {
  margin: auto 2vw;
  color: white;
  font-size: 22px;
  border-bottom: solid 1px #f79719;
}

.main-nav a:hover {
  color: skyblue;
  border-bottom-style: none;
}

#sp-nav {
  display: none;
}

/* 背景画像 */
#home-img-parent {
  height: 100vh;
}

#home-img::before {
  width: 100%;
  height: 100vh;
  content: '';
  position: fixed;
  background-image: url(./img/top-illust.jpg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#home-img {
  width: 100%;
  margin: 0 0 10px;
  position: absolute;
  background-image: none;
  clip-path: inset(0%);
  background-color: #f1f8ff;
}

@media (max-width: 541px) {
  #home-img::before {
    background-size: cover;
  }
}

/*ホーム*/
#home {
  min-height: 550px;
  display: flex;
  flex-direction: row;
}

#left {
  width: 35%;
  height: 100vh;
  margin: 0 auto 0 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#left-circle {
  width: 24vw;
  height: 24vw;
  max-width: 40vh;
  max-height: 40vh;
  margin: 15vh auto auto;
  background-color: rgba(241, 248, 255, 0.5);
  border: solid 2px #2a4895;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

#left-text {
  margin: auto;
  font-size: min(3.6vw, 6vh);
  font-weight: lighter;
  color: #f79719;
  line-height: 1;
  text-align: center;
}

#left-text p img {
  width: 20vw;
  max-width: 35vh;
  margin: 5% auto 0;
}

#left-text p {
  margin: 0 auto;
}

#left-text p span {
  font-size: min(4.1vw, 7.5vh);
}

.youtube-responsive {
  margin: auto auto 0;
  width: 100%;
  aspect-ratio: 16/9;
}

.youtube-responsive iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#center {
  width: 30%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#button-area {
  margin: 76vh auto auto;
  display: flex;
  flex-direction: column;
}

#right {
  width: 35%;
  height: 100vh;
  max-width: calc(100vh * (1080 / 1547));
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
}

#date-circle-parent {
  width: 20vw;
  height: 20vw;
  max-width: 35vh;
  max-height: 35vh;
  margin: 25vh auto auto;
  display: block;
}

#date-circle {
  width: 100%;
  height: 100%;
  background-color: rgba(241, 248, 255, 0.5);
  border: solid 2px #2a4895;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

#date {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  font-size: min(2.15vw, 4vh);
  color: #2a4895;
  text-align: center;
  line-height: 1.2;
}

#date p span {
  font-size: 300%;
}

#location {
  margin: auto auto 10%;
  font-size: min(2.65vw, 5vh);
  font-weight: bold;
  line-height: 1.7;
  color: #2a4895;
  -webkit-text-stroke: 1px #f1f8ff;
  text-stroke: 1px #f1f8ff;
  text-align: center;
}

#location p span {
  font-size: min(4.4vw, 9vh);
}

/*About*/
#about {
  min-height: 750px;
  height: 100vh;
}

#mischan::before {
  content: '';
  position: fixed;
  background-image: url(img/mischan-pc.webp);
  background-size: contain;
  background-position: right 70px;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

#mischan {
  width: 100%;
  position: absolute;
  background-image: none;
  clip-path: inset(0%);
  border-radius: 2px;
  background-color: #f1f8ff;
}

#about-content {
  min-height: calc(750px - 70px);
  height: calc(100vh - 70px);
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

#about-img {
  height: 40%;
  display: flex;
  position: relative;
  justify-content: center;
}

#about-img img {
  display: block;
  max-width: 500px;
  height: auto;
  margin: auto;
}

#about-description {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#about-content > div > p {
  margin: 5px auto;
  color: #313131;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

/*Contents*/
#contents {
  min-height: 100vh;
  margin-bottom: 70px;
}

#contents-content {
  background-color: #f1f8ff;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
}

#projects {
  display: grid;
  gap: 50px 25px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  margin-bottom: 50px;
}

.item {
  margin: 0 auto;
  text-align: center;
}

.item > img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: solid 2px #2a4895;
}

.item > p {
  font-size: 1.15rem;
  color: #2a4895;
}

.item a {
  margin-top: 9px;
}

.title {
  margin: 5px auto;
  font-weight: bold;
}

.title span {
  display: inline-block;
}

.description {
  text-align: start;
}

.app-icon img {
  width: 175px;
}

#art-book {
  width: 100%;
  margin: 50px auto 0;
}

#art-project {
  width: 100%;
  margin: 8px 0 0;
  padding: 40px;
  border: solid 2px #2a4895;
  border-radius: 15px;
  text-align: center;
}

#art-project p:first-child {
  /*Coming Soon...の間だけ設定*/
  font-size: 1.4rem;
  color: #cccccc;
}

.art-item {
  margin: 40px 0;
  /*Coming Soon...の間だけ設定*/
  display: none;
}

.art-item img {
  max-width: 100%;
  max-height: 60vh;
}

.art-item p {
  color: #2a4895;
}

/*Access*/
#access-bg {
  margin: 0 auto 70px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f8ff;
  border-radius: 10px;
}

#access-map {
  width: 50%;
  margin: 20px auto;
}

#access-map iframe {
  width: 100%;
  border-radius: 5px;
}

#access-info {
  margin: 20px auto;
  padding-left: 8px;
  text-align: center;
}

#access-info h4 {
  padding: 10px 15px;
  font-size: 1.3rem;
  color: #2a4895;
}

#access-info p {
  padding: 5px 15px;
  font-size: 1.25rem;
  color: #2a4895;
}

#access-info span {
  display: inline-block;
}

#footer-copyright {
  width: 100%;
  margin-top: 50px;
  padding: 20px 15px 15px;
  color: #2a4895;
  font-weight: bold;
  text-align: center;
  background-color: #f1f8ff;
}

#footer-copyright div ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

#footer-line1 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#sns {
  margin: 0 auto;
}

#sns p {
  margin-bottom: 13px;
  font-size: 1.2rem;
}

#sns ul li {
  margin: auto 25px;
}

#sns ul li a img {
  width: 50px;
}

#footer-author {
  margin: 0 auto;
}

#footer-author ul {
  width: 55vw;
  display: flex;
  justify-content: space-around;
}

#footer-author ul li {
  padding: 10px;
}

#copyright-text {
  text-align: center;
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
}

#copyright-text span {
  display: inline-block;
}

/*doujinshi.html*/
#dl-button {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

#doujinshi-img {
  margin: 0 auto 70px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f8ff;
  border-radius: 2px;
}

#doujinshi-img img {
  width: 100%;
  height: auto;
  margin: 10px auto;
}

/*-end- doujinshi.html*/

/*レスポンシブ*/
@media (max-width: 770px) {
  /*共通部分*/
  h2 {
    width: calc(100% - 200px * 0.83);
    padding-top: 16px;
    padding-left: 4vw;
    font-size: 30px;
  }

  /*ヘッダー*/
  header {
    width: 200px;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 83% 100%);
  }

  h1 {
    width: 170px;
  }

  .logo {
    color: white;
  }

  nav {
    width: 100%;
    height: 60px;
    margin: 5px 0 0 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px 30px 0 0;
    position: fixed;
    z-index: 3;
    bottom: 0;
  }

  #pc-nav {
    display: none;
  }

  .main-nav {
    margin: 15px 20px auto;
    padding: 0;
  }

  .main-nav a {
    padding: 10px;
    color: white;
    font-size: 20px;
    border: none;
  }

  .main-nav a:hover {
    color: white;
  }

  .underline {
    border-bottom: solid 1px #f79719;
  }

  .main-nav li {
    margin: auto;
  }

  .main-nav li:hover {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  #sp-nav {
    margin: 0;
    display: block;
  }

  /*背景画像*/
  #home-img {
    background-size: auto 100vh;
  }

  /*ホーム*/
  #home {
    flex-direction: column;
  }

  #right {
    order: 0;
    width: 100%;
    height: 40vh;
    margin: 0 auto;
    padding-top: 130px;
    flex-direction: row;
  }

  #date-circle-parent {
    width: 35vw;
    height: 35vw;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
  }

  #date-circle {
    width: 35vw;
    height: 35vw;
    max-width: 200px;
    max-height: 200px;
    border: solid 2px #0670e2;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
  }

  #date {
    display: flex;
    flex-direction: column;
    font-size: min(4vw, 24px);
    color: #f1f8ff;
  }

  #date p span {
    font-size: min(300%, 70px);
    color: #0670e2;
  }

  #location {
    margin: auto auto auto 2%;
    padding-right: 2%;
    color: #f1f8ff;
    line-height: 1.3;
    -webkit-text-stroke: 0;
    text-stroke: 0;
  }

  #location p {
    font-size: min(4.7vw, 27px);
  }

  #location p span {
    font-size: min(8vw, 48px);
  }

  #center {
    order: 1;
    width: auto;
    height: 30vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  #button-area {
    margin: auto auto 0;
    display: flex;
    flex-direction: column;
  }

  .button1 {
    margin: 7px auto;
    padding: 5px 10px;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    border: solid 1px rgba(255, 255, 255, 0.5);
  }

  #left {
    order: 2;
    width: auto;
    height: 30vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    vertical-align: bottom;
  }

  #left-circle {
    display: none;
  }

  .youtube-responsive iframe {
    width: 300px;
    height: 170px;
    margin: auto auto 25px;
  }

  /*About*/
  #mischan::before {
    content: '';
    position: fixed;
    background-image: url(img/mischan-sp.webp);
    background-size: contain;
    background-position: center 70px;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  #mischan {
    position: absolute;
    background-image: none;
    clip-path: inset(0%);
  }

  #about-img {
    position: relative;
  }

  #about-img img {
    width: 75%;
    height: auto;
    position: absolute;
    bottom: 40px;
  }

  #about-content > div > p {
    font-size: 1.1rem;
  }

  /*Contents*/
  #projects {
    margin: auto 15px;
    display: grid;
    gap: 50px 15px;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  }

  .item > img {
    width: 150px;
    height: auto;
  }

  .item p {
    font-size: 1rem;
  }

  /*Access*/
  #access-bg {
    padding: 15px;
    flex-direction: column;
  }

  #access-info {
    order: 0;
    margin: auto;
    padding: 0;
  }

  #access-info h4 {
    margin: 0;
    font-size: 1.1rem;
  }

  #access-info p {
    font-size: 1rem;
  }

  #access-map {
    order: 1;
    width: 100%;
    height: 70%;
    margin: 20px 0 auto;
    padding: 0;
  }

  #access-map iframe {
    width: 100%;
    height: 50vh;
  }

  #footer-copyright {
    margin-top: 50px;
    border-radius: 35px 35px 0 0;
  }

  #footer-line1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }

  #sns {
    margin-bottom: 10px;
  }

  #footer-author ul {
    width: 100%;
  }

  #copyright-text {
    margin-bottom: 60px;
  }
}
