.modal-wrap {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
  display: none;
}
.modal-inner {
  max-width: 90vw;
  max-height: 90vh;
  background:#F7F7F7;
  margin:0 auto;
  text-align: center;
  padding:20px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-cg-img  {
  max-width: 860px;
  width: calc(85vw - 40px);
  height: calc(90vh - 40px - 1rem);
  display: flex;
}
.modal-inner .flex-column img {
  object-fit: contain;
  max-width: 1024px;
  max-height: 768px;
  min-height: 280px;
  min-width: 210px;
  margin: 0 auto;
}
.modal-cg-img img {
  max-width: none;
  object-fit: contain;
  margin: 0 auto;
}
.close-icon{
  text-align: right;
}
.close-icon span{
  cursor: pointer;
}
.modal-ttl {
  padding-bottom: 5vh;
  font-weight: bold;
}
.modal-ttl h2{
  border-bottom: 2px solid #2b2b2b;
  white-space: nowrap;
}
.modal-more {
  margin: 2rem 5vh 1rem auto;
}
.modal-txt {
  padding-right: 5vh;
  text-align: left;
}
.modal-inner > .flex {
  flex-wrap: nowrap;
  align-items: center;
  max-width: calc(90vw - 40px);
  max-height: calc(90vh - 40px - 1rem);
}
.modal-inner  .flex-column:last-child {
  align-items: flex-end;
}
@media screen and (max-height:374px) {
  .modal-cg-img {
    max-width: 65vw;
  }
}
@media screen and (max-width:767px) {
  .modal-txt {
    padding: 1rem 0;
  }
  .modal-more {
    margin: 1vh 0;
    font-size: 0.9rem;
  }
  .modal-inner .flex-column img {
    min-width: calc(45vw - 40px);
    max-height: calc(45vh - 40px - 1rem);
    min-height: 0px;
    width: 0;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
  }
  .modal-inner > .flex {
    flex-wrap: wrap;
  }
}
@media screen and (max-height:600px) {
  .modal-inner .flex-column img {
    min-width: calc(30vw - 40px);
    max-height: calc(90vh - 40px - 1rem);
  }
  .modal-inner > .flex {
    flex-wrap: nowrap;
    max-height: calc(75vh - 40px - 1rem);
  }
  .modal-inner  .flex-column:last-child {
    width: max-content;
  }
}
#modal-special-cg-making .video {
  height: 0;
}
