@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;700&display=swap');
/*--- common style ---*/
* {
    margin: 0;
    padding: 0;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,  p, th, td, header, nav, section {
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, Arial, 'メイリオ', Meiryo, sans-serif;
  color: #2b2b2b;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
h1,h2,h3,h4,h5,h6 {
}
h1 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin: 30px 0 90px;
}
h2 {
  text-align: center;
}
@media screen and (max-width:767px) {
  h1{
    font-size: 2rem;
    margin: 3vh 0 4vh;
  }
}
p,li,dt,dl {
}
p {
}
li {
  list-style-type: none;
}
img {
  display: block;
  width: 100%;
  border: none;
}
address {
  font-style: normal;
}
.video{
  position:relative;
  width:100%;
  padding-top:56.25%;
}
.video iframe{
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
}
audio {
  max-width: 100%;
}
#special  iframe{
  width:100%;
}
.clear {
  clear: both;
}
.flex {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.align-top {
  align-items: flex-start;
}
.align-bottom {
  align-items: flex-end;
}

/*--- link style ---*/
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration:none;
}
a:hover, a:hover > * {
  text-decoration:underline;
  opacity: 0.7;
}
a:active, a:active > * {
  opacity: 0.5;
}
.pointer {
  cursor: pointer;
}

/*--- custom style ---*/
/* loader */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
}
#loader > div{
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #00479C;
}
.shutter-up {
  position: absolute;
  top: 0;
}
.shutter-down {
  position: absolute;
  bottom: 0;
}
#loader  p{
  font-family: 'Shippori Mincho B1', serif;
  font-size: 5vh;
  line-height: 5vh;
  color: #BCE2E8;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,   -100%);
  text-align: center;
  white-space: nowrap;
  display: none;
}
#loader::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-color: #BCE2E8;
  z-index: 999;
  width: 0;
  height: 2px;
}
#loader.open > .shutter-up, #loader.open > .shutter-down {
  animation: byeShutter 2.6s forwards;
}
#loader.open  p {
  animation: shutterOpenFade 2.6s forwards;
}
#loader.open::before {
  animation: shutterOpen 2.6s forwards;
}

/* wrapper */
#wrapper {
  /* width: 100% */
  background-color: #E9E9E9;
  opacity: 0;
}
#header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-duration: 1.5s;
  animation-delay: 5s;
  border-bottom: 2px solid #2b2b2b;
  color: #2b2b2b;
  background-color: rgba(255,255,255,0.5);
  opacity: 0;
}
.header-logo {
  display: flex;
  align-items: flex-end;
  height: inherit;
}
.header-logo img {
  object-fit: cover;
  width: auto;
  height: 60px;
  margin-left: 10px;
}
.header-logo p {
  color: #2b2b2b;
  margin-bottom: 15px;
}
.header-nav a {
  color: #2b2b2b;
  transition: all 0.3s;
}
@media screen and (min-width:768px) {
  .hamburger {
    display: none;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
  }
  .header-nav ul li {
    display: inline-block;
    margin-left: 1.5rem;
  }
}
@media screen and (max-width:767px) {
  .hamburger-wrap {
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 50;
    display: none;
  }
  .hamburger {
    width: 70px;
    height: 70px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #2b2b2b;
    cursor: pointer;
    position: relative;
    z-index: 200;
  }
  .hamburger i {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35px;
    height: 4px;
    background: #2b2b2b;
    transition: all .5s
  }
  .hamburger i:first-child {
    top: 30%;
  }
  .hamburger i:nth-child(2) {
    top: 50%;
  }
  .hamburger i:last-child {
    top: 70%;
  }
  .hamburger.open i:first-child {
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .hamburger.open i:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open i:last-child {
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  .header-nav {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    background: white;
    transition: all .5s;
    z-index: 100;
  }
  .header-nav ul {
    margin: 80px 0 0 0;
    padding: 0;
    list-style: none;
  }
  .header-nav li {
    padding: 10px 0;
    text-align: center;
    opacity: 0;
    transition: all .5s;
  }
  .header-nav.open {
    right: 0;
  }
  .header-nav.open li {
    margin-right: 0;
    opacity: 1;
  }
  .header-nav.open li:first-child {
    transition-delay: .5s;
  }
  .header-nav.open li:nth-child(2) {
    transition-delay: .7s;
  }
  .header-nav.open li:nth-child(3) {
    transition-delay: .9s;
  }
  .header-nav.open li:nth-child(4) {
    transition-delay: 1.1s;
  }
  .header-nav.open li:nth-child(5) {
    transition-delay: 1.3s;
  }
}

#toScroll {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  font-weight: 500;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #D5EAFF;
  mix-blend-mode: difference;
  background-color: transparent;
  text-align: center;
  margin: 35px;
  opacity: 0;
  display: block;
}
#toScroll::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 30%;
  height: 30%;
  mix-blend-mode: difference;
  border-left: 1px solid #D5EAFF;
  border-bottom: 1px solid #D5EAFF;
  transform: translate(-50%, -50%) rotate(-45deg);
  box-sizing: border-box;
  animation: popping 2s infinite ease;
}
#backToTop {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  font-weight: 500;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #2b2b2b;
  background-color: #686868;
  text-align: center;
  margin: 35px;
  display: none;
}
#backToTop::after {
  position: absolute;
  top: 55%;
  left: 50%;
  content: '';
  width: 30%;
  height: 30%;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: translate(-50%, -50%) rotate(-45deg);
  box-sizing: border-box;
}

@media screen and (max-width:767px) {
  #toScroll, #backToTop {
    width: 9vw;
    height: 9vw;
    font-size: 6.4vw;
    line-height: 11.6vw;
    border-width: 2px;
    margin: 5vw;
  }
}
#toScroll:hover, #backToTop:hover {
  text-decoration: none;
  opacity: 0.7;
}


/* main */
main {
  width: 100%;
  margin: 0 auto;
}
.top-margin {
  height: 70px;
  background-color: transparent;
}

/* mv */
#mv {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #E9E9E9;
}
#mv img {
  height: 100%;
  width: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: -20px;
}
.mv-rect-white {
  display: none;
}

@media screen and (min-width:1380px) {
  #mv-ttl {
    width: 100%;
    position: absolute;
    top: 0;
    right:  0;
    opacity: 0;
    margin-right: 5vh;
  }
  .mv-rect {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0.8vh;
    right: 0;
  }
  .mv-rect-line {
    height: 17vh;
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
    background-color: #2b2b2b;
  }
  .mv-rect-1 {
    width: 64vh;
  }
  .mv-rect-2 {
    width: 84vh;
  }
  .mv-rect-3 {
    width: 40vh;
  }
  .mv-ttl-txt {
    font-size: 16vh;
    font-weight: 500;
    text-align: right;
    position: absolute;
    top: 0;
    right:  0;
  }
}
@media screen and (max-width:1379px) and (min-width:1024px) {
  #mv-ttl {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right:  0;
    opacity: 0;
    margin-right: 2vh;
  }
  .mv-rect, .mv-rect-white {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    /* top: 0.8vh; */
    bottom: 24vh;
    right: 0;
  }
  .mv-rect > .mv-rect-line {
    height: 14vh;
    margin-top: 2.4vh;
    margin-bottom: 3.5vh;
    background-color: #2b2b2b;
  }
  .mv-rect-white > .mv-rect-line {
    height: 14vh;
    margin-top: 2.4vh;
    margin-bottom: 3.5vh;
    background-color: #E9E9E9;
  }
  .mv-rect-1 {
    width: 43vh;
  }
  .mv-rect-2 {
    width: 70vh;
  }
  .mv-rect-3 {
    width: 34vh;
  }
  .mv-ttl-txt {
    font-size: 13vh;
    font-weight: 500;
    text-align: right;
    position: absolute;
    /* top: 0; */
    bottom: 26vh;
    right:  0;
  }
}
@media screen and (max-width:1023px) {
  #mv-ttl {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right:  0;
    opacity: 0;
    margin-right: 5vh;
  }
  .mv-rect, .mv-rect-white {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: 30vh;
    right: 0;
  }
  .mv-rect > .mv-rect-line {
    height: 14vw;
    margin: 2.6vw 0;
    background-color: #2b2b2b;
  }
  .mv-rect-white > .mv-rect-line {
    height: 14vw;
    margin: 2.6vw 0;
    background-color: #E9E9E9;
  }
  .mv-rect-1 {
    width: 42vw;
  }
  .mv-rect-2 {
    width: 70vw;
  }
  .mv-rect-3 {
    width: 34vw;
  }
  .mv-ttl-txt {
    font-size: 13vw;
    font-weight: 500;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 30vh;
  }
}
@media screen and (max-height:424px) {
  #mv-ttl {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right:  0;
    opacity: 0;
    margin-right: 2vh;
  }
  .mv-rect, .mv-rect-white {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0.8vh;
    right: 0;
  }
  .mv-rect > .mv-rect-line {
    height: 14vh;
    margin-top: 2.4vh;
    margin-bottom: 3.5vh;
    background-color: #2b2b2b;
  }
  .mv-rect-white > .mv-rect-line {
    height: 14vh;
    margin-top: 2.4vh;
    margin-bottom: 3.5vh;
    background-color: #E9E9E9;
  }
  .mv-rect-1 {
    width: 43vh;
  }
  .mv-rect-2 {
    width: 70vh;
  }
  .mv-rect-3 {
    width: 34vh;
  }
  .mv-ttl-txt {
    font-size: 13vh;
    font-weight: 500;
    text-align: right;
    position: absolute;
    top: 0;
    right:  0;
  }
}

.mv-rect .mv-rect-1.open {
  animation: slideOut;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 1s;
}
.mv-rect .mv-rect-2.open {
  animation: slideOut;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 1.5s;
}
.mv-rect .mv-rect-3.open {
  animation: slideOut;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 2.5s;
}

#mv-btn {
  position: absolute;
  top: 75vh;
  right: 0;
  margin: 2vh 20vh;
  opacity: 0;
}
.apply-btn {
  display: block;
  width: 240px;
  height: 50px;
  line-height: 50px;
  border: 2px solid #2b2b2b;
  border-radius: 100px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #00afcc;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  text-align: center;
}
@media screen and (max-width:424px) {
  #mv-btn {
    position: absolute;
    right: -12vw;
  }
  .apply-btn {
    width: 200px;
  }
}

/* container */
#container {
  z-index: 50;
}
#container > section {
  display: flex;
  flex-direction: column;
  width: calc(85% - 100px);
  max-width: 1000px;
  border: 3px solid #2b2b2b;
  background-color: #fff;
  padding: 50px;
  margin: 75px auto;
}
@media screen and (max-width:767px) {
  #container > section {
    padding: 2.5vw;
    margin: 7.5vw 2.5vw;
    width: auto;
  }
}
.main-ttl {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.main-ttl .main-ttl-letters {
  display: flex;
  justify-content: center;
}
.main-ttl  .main-ttl-letters span {
  font-family: 'Shippori Mincho B1', serif;
  font-weight: bold;
  display: inline;
  opacity: 0;
  margin: 0 1.5em;
}
.main-ttl .main-ttl-line {
  height: 2px;
  background-color: #2b2b2b;
  margin: 0 auto;
}
.ttl-anime-letters {
  animation-name: ttl-anime-letters;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
  animation-delay: 0.5s;
}
@media screen and (min-width:768px) {
  .ttl-anime-line {
    animation-name: ttl-anime-line;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
}
.main-content-center {
  text-align: center;
}
.main-txt-large {
  font-size: 1.8rem;
  margin: 1rem auto;
  letter-spacing: 0.15em;
}
@media screen and (min-width:768px) {
  .main-txt-large {
    font-size: 1.5rem;
  }
}
.main-txt {
  font-weight: lighter;
  margin: 2.5rem auto;
  padding: 0 1rem;
}

.marker-animation.active{
  background-position: -100% .5em;
  opacity: 1;
}
.marker-animation {
  background-image: linear-gradient(to left, #D5EAFF 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 200% .8em;
  background-position: 0 .5em;
  transition: background 2s ease ,opacity 0.5s ease;
  font-weight: 500;
  opacity: 0;
}

.group-intro {

}
.group-btn {
  width: max-content;
  height: 6vh;
  line-height: 6vh;
  padding: 0 1rem;
  color: #2b2b2b;
  background-color: #D3D3D3;
  text-align: center;
}
.group-btn-under {
  display: block;
  margin: 6vh 5vh 6vh auto;
}

ul.group{
  text-align:center;
  width:100%;
}
ul.group > li{
  width:20vw;
  margin: 0;
  display:inline-block;
  transform:skewX(30deg);
  background:#fff;
  overflow:hidden;
  position: relative;
  z-index: 1;
}
ul.group > li > div > img{
  width:100%;
  transform:skewX(-30deg) scale(1.6);
}
ul.group > li:last-child{
  margin-right:0;
}
ul.group > li > div{
  display:block;
  color:#FFF;
  height:20vw;
}
ul.group > li:hover {
  transform: skewX(30deg) scale(1.2);
  transition-duration: 0.3s;
}
#group-prog:hover{
  position: relative;
  z-index: 10;
}
#group-cg:hover{
  position: relative;
  z-index: 10;
}


/* infomation */
#info {
  z-index: 1;
}
#info img {
  margin: 12px auto;
}
.main-content-left {
}
.info-ttl {
  font-weight: 500;
}
.info-btn {
  margin: 10px auto 50px;
}
.info-mini {
  margin: 30px 30px 50px;
  border-radius: 20px;
  padding: 1rem 2rem;
  border: 5px dotted #FFE04D;
}
.info-mini h4 {
  font-weight: 400;
}
.main-content-left h3 {
  font-weight: 500;
  margin: 5px 0;
}
.info-mini  p {
  font-weight: lighter;
  padding: 1rem;
}
.main-txt > p {
  font-weight: lighter;
  padding: 1rem;
}
@media screen and (max-width:424px) {
  .info-mini {
    margin: 0 1rem  2rem;
    border-radius: 20px;
    padding: 1rem 1rem;
    border: 5px dotted #FFE04D;
  }
  .info-mini  p {
    font-size: 0.9rem;
    font-weight: lighter;
    padding: 1rem 0;
  }
}

.triangle {
  position: relative;
  padding-left: 1rem;
}
.triangle:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transform: translate(0, 25%);
  border-top: 0.5em  solid transparent;
  border-right: 0.8em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 0.8em solid #00479C;
}
.triangle > a{
  color: inherit;
  font-weight: bold;
  opacity: 0.8;
}

/* schedule */
.schedule-list {
  width: 75%;
  margin: 0 auto;
}
.schedule-list-line {
  height: 1px;
  background-color: #2b2b2b;
  margin: 5px auto;
}
.schedule-list-box > *{
  padding: 0 1rem;
}

@media screen and (min-width:768px) {
  .schedule-list-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .for-mobile {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (max-width:767px) {
  .schedule-list-box {
    flex-direction: column;
  }
  .for-mobile {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.schedule-list-date {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  align-self: stretch;
}
.schedule-list-date-month {
  display: inline;
  font-size: 1.5rem;
  letter-spacing: -0.05em;
}
.schedule-list-date-line {
  display: inline;
  width: 3.5rem;
  height: 1px;
  background-color: #686868;
}
.schedule-list-date-day {
  display: inline;
  font-size: 3rem;
  letter-spacing: -0.05em;
}
.schedule-list-thum {
  height: 100px;
  width: 100px;
}
.schedule-list-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
}
.schedule-list-ttl {
  font-weight: 500;
  font-size: 1.2rem;
}
.schedule-list-txt {
  font-weight: lighter;
  align-self: stretch;
  text-align: start;
}
.schedule-list-groupList {
  display: flex;
  align-self: flex-end;
}
.schedule-list-group {
  background-color: #D3D3D3;
  margin: 0.25rem 0.5rem;
  padding: 2.5px;
}
#schedule .schedule-list-thum img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 1rem;
}

#works .main-txt .pointer + div {
  margin-top: 1rem;
}
#works .main-txt > p {
  padding: 1rem  0;
}
@media screen and (min-width:768px) {
  #works .main-txt {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: 30%;
  }
}
@media screen and (max-width:767px) {
  #works .main-txt {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: 40%;
  }
}
#works-midi .main-txt {
  width: auto;
}

#special .special-cg-thum > img {
  object-fit: cover;
}


#special-cg .main-txt {
  padding: 0;
  margin: 1rem auto;
  text-align: left;
}
.content-pics {
  margin-top: 2rem;
}
@media screen and (min-width:1024px) {
  #special-cg .main-txt {
    width: 30%;
  }
  .content-pics {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
  }
}
@media screen and (max-width:1023px) and (min-width:768px) {
  #special-cg .main-txt {
    width: 45%;
  }
  .content-pics {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
  }
}
@media screen and (max-width:767px) {
  .content-pics {
    margin: 0 3vw;
  }
  .pointer {
    cursor: auto;
  }
}

/* footer */
#footer {
  width: calc(100% - 60px);
  padding: 10px 30px;
  align-items: center;
  border-bottom: 2px solid #2b2b2b;
  background-color: #456280;
}

.credits {
  margin: 0 auto;
}
.credits  * {
  color: white;
  margin: 0;
}
.credits  > * {
  color: white;
  margin: 15px 0;
}
#footer .main-content-center {
  margin: 0.3rem;
}
.links {
  margin: 30px 0;
}
.links a {
  margin: 0 1rem;
  color: #456280;
  background-color: #fff;
  padding: 0.2rem;
}
.links a:first-child {
  margin-left: 0;
}
.links img {
  width: 1rem;
  display: inline;
}
@media screen and (max-width:767px) {
  .credits > * {
    margin: 1vh 0;
  }
  .links {
    margin: 2vh 0;
  }
  #footer {
    padding: 3vw;
    width: auto;
    align-items: center;
    border-bottom: 2px solid #2b2b2b;
    background-color: #456280;
  }
}

.social-area-syncer ul {
  border: none;
  list-style-type: none;
  justify-content: center;
}

@keyframes slideOut {
  100% {
    width: 0;
  }
}

@keyframes ttl-anime-letters {
  100% {
    margin: 0;
    opacity: 1;
  }
}
@keyframes ttl-anime-line {
  0% {
    width: 100%
  }
  100% {
    width: 50%;
  }
}

@keyframes byeShutter{
  50% {
    height: 50%;
  }
  100%{
    height: 0;
  }
}
@keyframes shutterOpen{
  0%{
    width:0;
  }
  50%{
    width:100%;
    opacity: 1
  }
  51% {
    width:100%;
    opacity: 0;
  }
  100% {
    display: none;
    width:100%;
    opacity: 0;
  }
}
@keyframes shutterOpenFade{
  50%{
    opacity: 1
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes popping {
  0% {
    top: 30%;
  }
  30% {
    top: 50%;
  }
  90% {
    top: 30%;
  }
  100% {
    top: 30%;
  }
}

.social-area-syncer ul li {
  margin: 0 1.5rem;
}
