@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Audiowide|M+PLUS+1p:400,700|Open+Sans:400,700');
html{
    font-size: 62.5%;
}
body{
    font-size: 1.2rem;
    font-family: 'M PLUS 1p', 'Open Sans', '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
main{
    background-color: #000;
}
*, *::before, *::after {
    box-sizing: border-box;
    list-style: none;   
}
a{
    text-decoration: none;
    color: #fff;
}
header{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #000;
    z-index: 9999;
}
.logo{
    margin: 5px 30px;
    float: left;
    height: 40px;
    width: auto;
}
.title{
    font-family: 'Audiowide', cursive;
    font-size: 2.2rem;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin: 2px 30px;
    letter-spacing: .2rem;
    float: right;
}
.keyvisual{
    margin-top: -15px;
    background-image: url(../images/key.jpg);
    background-size: cover;
    background-position: top left;
    /*height: 900px;*/
    width: 100%;
    position: relative;
}
.subtitle{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 38.5%;
    color: #fff;
}
.subtitle h2{
    font-size: 5.6rem;
    letter-spacing: .5rem;
    line-height: 50px;
}
.subtitle h2 span{
    font-size: 4rem;
}
.subtitle h3{
    font-family: 'Open Sans', sans-serif; 
    font-size: 2.4rem;
    letter-spacing: .3rem;
    margin: 80px 0 0 0;
}
.wrapper{
    width: 95%;
    margin: 0 auto;
}
.works p{
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    padding-bottom: 15px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.content-title{
    font-family: 'Audiowide', cursive;
    font-weight: lighter;
    padding: 100px 0 20px;
    font-size: 2.6rem;
    color: #fff;
    text-align: center;
    letter-spacing: .2rem;
    line-height: 50px;
}
.about h2{
    text-align: center;
    text-shadow: #334 2px 2px 2px;
    padding: 80px 0 50px;
}
.about p{
    text-shadow: #334 1px 1px 1px;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    padding: 0px 10px 70px;
    letter-spacing: .1rem;
}
.about p.greeting{
    font-weight: bold;
    text-shadow: #334 1px 1px 1px;
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 50px;
    letter-spacing: .2rem;
}
.about p.about_p_staff{
    font-weight: bold;
    text-shadow: #334 1px 1px 1px;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    padding: 0px 15px 70px;
    letter-spacing: .1rem;
}
.about span{
    text-shadow: #334 1px 1px 1px;
    font-size: 1.1rem;
    color: #fff;
    line-height: 20px;
    margin-top: -40px;
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: .05rem;
}
.key-visual_img{
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-image: -moz-linear-gradient(top, rgba(50, 70, 100, 0.2), rgba(50, 70, 100, 0.5)), url(../images/posuta.jpg); 
    background-image: -webkit-linear-gradient(top, rgba(50, 70, 100, 0.2), rgba(50, 70, 100, 0.5)), url(../images/posuta.jpg); 
    background-image: linear-gradient(to bottom, rgba(50, 70, 100, 0.2), rgba(50, 70, 100, 0.5)), url(../images/posuta.jpg); 
}
.work{
    flex: 0 0 33.3%;
}
.work-content{
    background-color: #000;
    position: relative;
    margin: .5rem;
    border-radius: 2px;
    border: 1px solid #777;
    transition: all .15s;
}
.work-image{
    width: 99%;
    margin: .5% .5%;
}
.work-image img{
    width: 100%;
    height: auto;
}
.work-title{
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 14px;
    letter-spacing: .01rem;
    color: #fff;
    padding: 5px 5px 5px 27px;
    text-indent: -22px;
}
.tags{
    margin-left: 5px;
    padding-bottom: 10px;
}
.tag{
    display: inline-block;
    font-size: 1.0rem;
    border-radius: 1.5px;
    padding: 3px;
    margin: 8px 0px 0 5px;
    color: #fff;
}
.tag_vrfps{
    background-color: #0168b3;
}
.tag_fps{
    background-color: #00a5e7;
}
.tag_rpg{
    background-color: #cd5638;
}
.tag_music{
    background-color: #33cc88;
}
.tag_race{
    background-color: #cb5393;
}
.tag_sim{
    background-color: #00984b;
}
.tag_adv{
    background-color: #d78114;
}
.tag_distribution{
    background-color: #920783;
}
.tag_others{
    background-color: #555;
}
.caption{
    display: none;
}
.map{
    text-align: center;
}
.map img{
    text-align: center;
    padding: 0% 5% 3%;
    width: 90%;
    height: auto;
}
.map-s{
    text-align: center;
    padding: 0% 10% 3%;
    width: 90%;
    height: auto;
}
.map-l{
    display: none;
}
.access{
    text-align: center;
    padding-bottom: 50px;
}
.access-text{
    vertical-align: top;
    display: inline-block;
    width: 70%;
    color: #fff;
}
.access h3{
    padding: 15px 0 0 10px;
    font-weight: lighter;
    line-height: 40px;
    text-align: left;
    font-size: 1.7rem;
    letter-spacing: .3rem;
}
.access h4{
    margin-top: 8px;
    padding-left: 10px;
    font-weight: lighter;
    line-height: 30px;
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: .15rem;
}
.access p{
    padding-left: 20px;
    font-weight: lighter;
    line-height: 30px;
    text-align: left;
    font-size: 1.2rem;
    letter-spacing: .15rem;
}
footer{
    text-align: center;
    height: 150px;
    background-color: #001;
}
.snsbutton{
    margin: 25px 10px;
}
footer h2{
    padding-bottom: 20px;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    color: #fff;
}
footer p{
    font-size: 1.2rem;
    letter-spacing: .05rem;
    color: #fff;
}
.work-wrapper{
    width: 90%;
    margin: 0 auto;
}
.work-intro{
    margin-top: -50px;
    padding: 100px 0 30px;
}
.work-text{
    width: 90%;
    margin: 0 auto;
}
.work-img{
    width: 90%;
    margin: 0 auto;
}
.work-img img, .work-img iframe{
    margin-top: 10%;
}
.work-intro h1{
    font-weight: lighter;
    text-align: center;
    font-size: 2.6rem;
    color: #fff;
    letter-spacing: .2rem;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid #777;
}
.work-intro h2{
    font-size: 2rem;
    color: #fff;
    padding: 5px 10px 5px 15px;
    display: inline-block;
    line-height: 35px;
    letter-spacing: .1rem;
    background-color: #07e;
    vertical-align: middle;
    border-radius: 25px 0px 0px 25px;
}
.work-intro h3{
    margin-top: 20px;
    line-height: 40px;
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: .1rem;
}
.work-intro p{
    font-weight: lighter;
    line-height: 35px;
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: .1rem;
}
.work-intro .tags{
    margin: 0;
}
.work-intro .tag{
    font-size: 1.4rem;
    margin-right: 10px;
    padding: 5px;
}
.screenshot_01{
    margin-bottom: 25px;
}
.back-button{
    color: #fff;
    margin: 50px auto;
    width: 200px;
    height: 50px;
    background-color: #08f;
    border-radius: 50px;
    transition: all .5s;
}
.back-button p{
    line-height: 50px;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
}

/* JS関連 */
#loader {
    opacity: 1;
    position: fixed;
    z-index: 100000;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}
.spinner > div {
    background-color: #808080;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.spinner .rect4 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s;
}
.spinner .rect5 {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s;
}
@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1.0);
    }
}
@keyframes sk-stretchdelay {
    0%, 40%, 100% {
         transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
