@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300|Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400&display=swap');

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', 'Lato', sans-serif;
  color: white;
}

.offset:before {
  display: block;
  content: '';
  height: 4rem;
  background-color: #323538;
}

a:hover {
  text-decoration: none;
}

.wrap {
  display: none;
}

#loading {
  width: 50vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
}

html {
  height: 100%;
}

body {
  background-image: radial-gradient(circle farthest-corner at center, #3c4b57 0%, #1c262b 100%);
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #efeffa;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #efeffa;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #efeffa;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/*----------------------------------- nav -----------------------------------*/
.navbar {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 0rem;
  background: rgba(0, 0, 0, 0.7) !important;
}

.navleft-p {
  font-size: 0.5rem;
  color: white;
  /* margin: 0 0 0 1rem; */
  margin: 0 auto;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
}

.navbar-dark .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand img {
  height: 2rem;
  width: 99.2px;
}

.navbar-nav li {
  margin-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.nav-item::after {
  display: block;
  content: '';
  /* position: absolute;
  left: 0; */
  bottom: 3px;
  height: 1px;
  transition-property:
    transform,
    -webkit-transform;
  background-color: white;
  width: 98%;
  transform: scale(0, 1);
  transform-origin: right top;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav-item:hover:after,
.nav-item:active:after {
  transform: scale(1, 1);
  transform-origin: left top;
}
/*----------------------------------- landing page -----------------------------------*/
.home-inner {
  /* background-image:linear-gradient(to right, rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(img/posuta-misw.jpg); */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/top-bg3.jpg);
  background-position: 90% center !important;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 27%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.4rem;
  font-weight: 100;
  /* letter-spacing: 0.1rem; */
  text-shadow: 0.1rem 0.1rem 1.2rem rgba(0, 0, 0, 0.7);
  letter-spacing: 1rem;
  /* padding-bottom: 1rem; */
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  margin-bottom: 0 !important;
}

.caption h3 {
  font-size: 2.5rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  line-height: 2rem;
  font-weight: 200;
  /* padding-bottom: 1.6rem; */
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  margin-bottom: 0 !important;
}

.caption p {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 100;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 200;
}

.caption p.theme {
  margin-top: 0.1rem;
  margin-bottom: 4rem;
  font-size: 0.7rem;
  font-weight: 100;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.5rem 1.3rem;
  font-size: 1.1rem;
}

.ofc a {
  width: 250px;
  font-weight: 500;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
}

.ofc .mis {
  padding: 0.5rem 1.3rem !important;
  font-size: 1.1rem !important;
  border: 2px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

#home svg.svg-inline--fa {
  color: white;
  margin: 0.5rem;
  font-size: 2rem;
  animation: key1 0.4s ease infinite alternate;
}

#home svg.svg-inline--fa:before {
  font-family: 'Font Awesome 5 Free';
  content: '/f107';
}

@keyframes key1 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

.btn-outline-light:hover {
  background-color: white;
}

.btn-lg {
  border-width: 1.2px;
  border-radius: 0;
  padding: 0.5rem 1.3rem;
  font-size: 1.1rem;
  font-family: 'Noto Serif JP', serif;
  background-color: rgba(0, 0, 0, 0.15);
}

/*----------------------------------- about -----------------------------------*/

#about {
  background-color: #323538;
  /* height: 80rem; */
  padding: 2rem 2rem;
  margin-top: -2rem;
}

.col-img {
  padding: 0 !important;
  height: 40rem;
}

.col-dsc {
  background-color: rgba(255, 255, 255, 0.14);
  padding: 3rem 0 0 0 !important;
}

.about-img {
  background-image: url(img/bg1.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.about-mb {
  display: none;
}

.about-title h4 {
  font-size: 0.65rem;
  margin: 0;
}

.about-title h2 {
  font-size: 4rem;
  font-family: 'Teko', sans-serif;
  line-height: 4.3rem;
  /* border-bottom: 1px solid white; */
  margin: 0 0 0.7rem 0 !important;
}

.col-dsc .box p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.08rem;
  /* text-align: center; */
  margin: 0;
  line-height: 2.3rem;
}

.schedule {
  margin-top: 4rem;
}

.about-btn {
  margin-top: 1rem;
  line-height: 1.2rem !important;
  font-size: 0.9rem !important;
}

/*----------------------------------- main-contents -----------------------------------*/

.contents {
  color: black;
  padding: 4rem 0 7rem 0;
}

.contents h4 {
  font-size: 0.65rem;
  margin: 0;
}

.contents h2 {
  font-size: 4rem;
  font-family: 'Teko', sans-serif;
  line-height: 4.2rem;
  margin-bottom: 1rem;
}

.fixed {
  background-image: url(img/bg4.jpg);
  background-position: 92.5% center !important;
  z-index: -1;
}

.work-dsc {
  font-size: 0.9rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  margin: 0;
  line-height: 2rem;
  letter-spacing: 0.05rem;
}

.work-box {
  width: 75%;
  margin: 3rem auto 0 auto;
}

.fa-gamepad {
  color: #ea7e00;
}

.fa-palette {
  color: #ea7e00;
}

.fa-music {
  color: #ea7e00;
}

.svg-inline--fa {
  font-size: 3.5rem;
}

.works h3 {
  margin-top: 0.7rem;
  font-family: 'Teko', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.05rem;
}

.works p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

.button {
  position: relative;
  display: inline-block;
  padding: 0.5em 4em;
  border: 2px solid #333;
  color: #333;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  margin-top: 1rem;
}
.button:hover {
  color: #fff;
}

.button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: #333;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.6s;
}

.button:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

/*----------------------------------- main-map -----------------------------------*/
.floor-map {
  margin-bottom: 3rem;
}

.map-box {
  width: 97%;
  background: #000;
  border-radius: 3rem;
  margin: 0 auto;
  padding: 4.1rem 0 1.5rem 0;
  margin-top: -2rem;
}

.floor-map h4 {
  font-size: 0.65rem;
  margin: 0;
}

.floor-map h2 {
  font-size: 4rem;
  font-family: 'Teko', sans-serif;
  line-height: 4.2rem;
  margin-bottom: 1rem;
}

.floor-map p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
  color: white;
  margin: 0;
}

.floormap-img {
  width: 700px;
  height: 500px;
  margin: 2rem auto 0 auto;
  background-image: url(img/floormap.jpg);
  background-size: cover;
}

/*----------------------------------- main-access -----------------------------------*/
.accessmap {
  margin-top: -3rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.accessmap h4 {
  color: #000;
  font-size: 0.65rem;
  margin: 0;
  text-align: center;
}

.accessmap h2 {
  color: #000;
  font-size: 4rem;
  font-family: 'Teko', sans-serif;
  line-height: 4.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.access-dsc {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
  color: black;
  margin: 0;
}

.access-contents {
  margin-top: 1rem;
}

.access-img {
  background-image: url(img/accessmap.png);
  background-size: cover;
  height: 470px;
  width: 450px;
  margin: 0 1rem 0 auto;
}

.accessmap .access-box {
  padding-left: 1rem;
}

.accessmap .access-box p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
  color: black;
  margin: 0;
}

.access-box .place {
  margin-bottom: 0.5em !important;
  margin-top: 0.5rem !important;
}

.access-dtl {
  margin-top: 1rem !important;
}

.access-mb {
  display: none;
}

/*----------------------------------- footer -----------------------------------*/

footer {
  background-color: #323538;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
}

.footer-container {
  padding: 1rem;
  width: 100%;
}

.footer-container .footer-title {
  letter-spacing: 0.07rem;
  font-size: 0.8rem;
  padding-bottom: 1rem;
  border-bottom: 0.65px solid rgba(255, 255, 255, 0.5);
  width: 60%;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.8);
}

.footer-container .link {
  width: 35%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.3px solid rgba(255, 255, 255, 0.5);
}

.footer-container .list {
  padding: 0;
  /* margin: 0; */
}

.footer-container .list p {
  /* padding: 0; */
  margin: 0;
}
.footer-container .link p {
  font-size: 0.6rem;
  padding: 0;
  letter-spacing: 0.07rem;
  color: rgba(255, 255, 255, 0.8);
}

.footer-container .share-title {
  font-size: 0.7rem;
  margin-top: 0.7rem;
  letter-spacing: 0.07rem;

  color: rgba(255, 255, 255, 0.8);
}

.footer-container .share {
  width: 20%;
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.3px solid rgba(255, 255, 255, 0.7);
}

.share .svg-inline--fa {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.share .svg-inline--fa {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.7);
}

.share .share-list {
  padding: 0;
  font-size: 1.5rem;
}

footer .copyright p {
  margin: 0;
  font-size: 0.5rem;
  padding: 0;
}

.footer-container .link a {
  font-size: 0.6rem;
  padding: 0;
  letter-spacing: 0.07rem;
  color: rgba(255, 255, 255, 0.8);
}

footer .footer-container .share .share-list a:hover {
  background-color: rgba(255, 255, 255, 0) !important;
}

footer .copyright p {
  font-size: 0.45rem;
  color: rgba(255, 255, 255, 0.7);
  /* -webkit-transform:scale(0.75);
  -moz-transform:scale(0.75);
  -ms-transform:scale(0.75);
  -o-transform:scale(0.75);
  transform:scale(0.75); */
}

/* ---------------------------------レスポンシブ--------------------------------- */

@media screen and (max-width: 768px) {
  .navbar-brand img {
    width: 74.4px;
    height: 1.5rem;
    margin: 0 auto;
  }

  .home-inner {
    /* background-image:linear-gradient(to right, rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(img/posuta-misw.jpg); */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/bg-mb1.jpg);
    background-position: center center !important;
  }

  .caption h1 {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }

  .caption h3 {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .caption p {
    margin-top: 4rem;
    margin-bottom: 0.2rem;
    font-size: 1.3rem;
  }

  .caption p.theme {
    margin-top: 0.1rem;
    margin-bottom: 3rem;
    font-size: 10px;
    font-weight: 100;
  }

  .ofc .mis {
    padding: 0.5rem 1.3rem !important;
    font-size: 0.8rem !important;
    border: 2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .ofc a {
    width: 180px;
    font-weight: 500;
    margin: 0.5rem;
    margin-bottom: 1.2rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
  }

  #home svg.svg-inline--fa {
    font-size: 1.5rem;
  }

  .col-img {
    height: 0rem;
    display: none;
  }

  #about {
    /* height: 50rem; */
  }

  .about-container {
    /* height: 50rem; */
  }

  .col-dsc {
    height: 40rem;
    margin: 0 auto;
  }

  .about-container .box {
    padding: 0 1rem;
  }

  .about-btn {
    margin-top: 1rem;
    line-height: 1rem !important;
    font-size: 0.7rem !important;
  }

  .about-title h4 {
    font-size: 10px;
  }

  .about-title h2 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    /* border-bottom: 1px solid white; */
    margin: 0 0 0.7rem 0 !important;
  }

  .col-dsc .box p {
    font-size: 12px;
    letter-spacing: 0.08rem;
    /* text-align: center; */
    margin: 0;
    line-height: 1.8rem;
  }

  .about-pc {
    display: none;
  }
  .about-mb {
    display: block;
  }

  .schedule {
    margin-top: 3rem;
  }

  .contents {
    padding: 4rem 1.5rem 5rem 1.5rem;
    margin-top: -2rem;
  }

  .contents h4 {
    font-size: 10px;
  }

  .contents h2 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    margin-bottom: 1rem;
  }

  .work-dsc {
    font-size: 12px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    margin: 0;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
  }

  .work-box {
    width: 75%;
    margin: 1.5rem auto 0 auto;
  }

  .svg-inline--fa {
    font-size: 2.5rem;
  }

  .works h3 {
    margin-top: 0rem;
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.05rem;
  }

  .works p {
    font-size: 11px;
    letter-spacing: 0.05rem;
  }

  .button:hover {
    color: black;
  }

  .button:hover::before {
    transform: scale(0, 0);
  }

  .button {
    padding: 0.5em 4em;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    border: 1px solid #333;
  }

  .floor-map {
    margin-top: -2rem;
    padding-top: 4rem;
  }

  .map-box {
    padding: 2rem 0 1.5rem 0;
    /* margin-top: -2rem; */
  }

  .floor-map {
    margin-bottom: 2rem;
  }

  .floor-map h4 {
    font-size: 10px;
  }

  .floor-map h2 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    margin-bottom: 1rem;
  }

  .floor-map p {
    font-size: 12px;
    line-height: 1.5rem;
    /* letter-spacing: .05rem; */
    color: white;
    margin: 0 3rem;
  }

  .floormap-img {
    width: 294px;
    height: 208px;
    margin: 2rem auto 0 auto;
  }

  .accessmap h4 {
    font-size: 10px;
  }

  .accessmap h2 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    margin-bottom: 1rem;
  }

  .access-dsc {
    font-size: 12px;
    line-height: 2rem;
    letter-spacing: 0.05rem;
    margin: 0 3rem;
  }

  .access-mb {
    display: block;
  }

  .access-pc {
    display: none;
  }

  .access-img {
    height: 310px;
    width: 290px;
    margin: 0 auto;
  }

  .accessmap .access-box p {
    font-size: 12px;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
  }

  .accessmap {
    margin-top: -3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .footer-container .footer-title {
    letter-spacing: 0.07rem;
    font-size: 0.6rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.4px solid rgba(255, 255, 255, 0.7);
    width: 82%;
    /* -webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-ms-transform:scale(0.8);
-o-transform:scale(0.8);
transform:scale(0.8); */
  }

  .footer-container .link {
    width: 70%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.4px solid rgba(255, 255, 255, 0.7);
  }

  .footer-container .link p {
    font-size: 0.2rem;
    letter-spacing: 0.07rem;
    /* -webkit-transform:scale(0.7);
-moz-transform:scale(0.7);
-ms-transform:scale(0.7);
-o-transform:scale(0.7);
transform:scale(0.7); */
  }

  /* .footer-container .share-title { */
  /* color: blue; */
  /* font-size: .2rem; */
  /* margin: 0.5rem 0; */
  /* letter-spacing: .07rem; */
  /* -webkit-transform:scale(0.7);
  -moz-transform:scale(0.7);
  -ms-transform:scale(0.7);
  -o-transform:scale(0.7);
  transform:scale(0.7); */
  /* color: rgba(255, 255, 255, 0.8); */
  /* } */

  .footer-container .share-title {
    font-size: 0.6rem;
    margin-top: 0.7rem;
    letter-spacing: 0.07rem;
    color: rgba(255, 255, 255, 0.8);
  }

  h4.share-title {
    color: rgba(255, 255, 255, 0.8);
  }

  .footer-container .share {
    width: 60%;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.7);
  }

  .share .share-list {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
  }

  footer .copyright p {
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.7);
    /* -webkit-transform:scale(0.6);
  -moz-transform:scale(0.6);
  -ms-transform:scale(0.6);
  -o-transform:scale(0.6);
  transform:scale(0.6); */
  }
  /*
.copyright p {
  color: rgba(255,255,255,0.8);
} */
}

@media screen and (max-width: 330px) {
  .caption {
    top: 25%;
  }

  .caption h1 {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
  }

  .caption h3 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .caption p {
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
  }

  .ofc a {
    margin: 0.5rem;
    margin-bottom: 0.7rem;
  }

  .col-dsc {
    height: 36rem;
  }

  .about-title h2 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    /* border-bottom: 1px solid white; */
    margin: 0 0 0.7rem 0 !important;
  }

  .col-dsc .box p {
    font-size: 12px;
    letter-spacing: 0.08rem;
    /* text-align: center; */
    margin: 0;
    line-height: 1.3rem;
  }

  .navleft-p {
    font-size: 0.5rem;
    color: white;
    margin: 0 auto;
    text-align: center;
  }
}
